<%- include("partials/header") -%>

<body class="vh-100">
    <div class="card w-75 mx-auto my-4 shadow-sm rounded-3 p-4">
        <h4 class="fw-bold">Home</h4>
        <p><%= homeContent %></p>
    </div>
    <% posts.forEach(function(post) {%>
    <div class=" w-75 mx-auto my-4  p-4">

        <h4><%=  post.title  %></h4>
        <p><%=  post.bodyPost.substring(0, 100) + " ..."  %>
            <a href="/posts/<%=post.title%>">Read more</a></p>
    </div>
    <% })%>
</body>
<%- include("partials/footer") -%>